@page
@model Explainer.Web.Pages.ExplainModel
@{
    ViewData["Title"] = "Explain";
}

<div class="main-frame">
    <div class="central-frame">
        <div class="header">
            <div class="grid">
                <div class="grid-item tree-header">time, ms</div>
                <div class="grid-item tree-header tree-header-line" style="text-align:right"><b>rows</b></div>
                <div class="grid-item tree-header">rate</div>
                <div class="grid-item tree-header tree-header-line">RRbF</div>
                <div class="grid-item tree-header tree-header-line">tree</div>
                <div class="grid-item tree-header tree-header-line">memory</div>
            </div>
        </div>
        <div id="rows" class="scrollable">
            @foreach (var Node in Model.Rows)
            {
            <div class="tree-node-row">
                <div class="grid">
                    <div class="grid-item">@Node.NodeTime</div>
                    <div class="grid-item tree-header-line" style="text-align:right">@Node.Rows</div>
                    <div class="grid-item">@Node.Rate</div>
                    <div class="grid-item tree-header-line">@Node.RRbF</div>
                    <div class="grid-item tree-node" style=@string.Format("margin-left:{0}px", Node.TreeMargin)>
                        <div> @Node.Name</div>
                        <div class="description"> @Node.Desc</div>
                    </div>
                    <div class="@string.Format("grid-item {0}", Node.MemoryCss)">@Node.MemoryUsage</div>
                </div>
            </div>

            <div class="tree-node-children">
                @Html.Partial("TreeNode", Node)
            </div>
            }
        </div>
    </div>
</div>

<div class="footer-frame"></div>




