@model Explainer.Web.Model.TreeNode

@if (Model.Children.Any())
{
    <div>
    @foreach (var Node in Model.Children)
    {
        <div class="tree-row">
            <div class="grid">
                <div class="grid-item">@Node.NodeTime</div>
                <div class="grid-item tree-header-line" style="text-align:right">@Node.Rows</div>
                <div class="grid-item">@Node.Rate</div>
                <div class="grid-item tree-header-line">@Node.RRbF</div>
                <div class="grid-item tree-node" style=@string.Format("margin-left:{0}px", Node.TreeMargin)>
                    <div> @Node.Name</div>
                    <div class="description"> @Node.Desc</div>
                </div>
                <div class="@string.Format("grid-item {0}", Node.MemoryCss)">@Node.MemoryUsage</div>
            </div>
        </div>
   
        <div class="tree-node-children">
            @Html.Partial("TreeNode", Node)
        </div>
    }
    </div>
}
